@font-face {
  font-family: 'AmazonEmber';
  src: url('./fonts/AmazonEmber_Rg.ttf') format('truetype');
}
@font-face {
  font-family: 'AmazonEmberBold';
  src: url('./fonts/AmazonEmber_Bd.ttf') format('truetype');
}

@font-face {
  font-family: 'AmazonEmberLite';
  src: url('./fonts/AmazonEmber_Lt.ttf') format('truetype');
}

$ember-font: AmazonEmber, EmberRg, sans-serif;

$ember-bold: AmazonEmberBold, EmberBd, sans-serif;

$ember-lite: AmazonEmberLite, EmberLt, sans-serif;

$amazon-yellow: #ff9900;
$amazon-grey: #e8e8e8;

.bold {
  font-family: $ember-bold;
  padding-left: 10px;
}

.light {
  font-family: $ember-lite;
  padding-left: 10px;
}

.grey {
  font: 80% $ember-font;
  font-weight: 700;
  color: #767676;
  padding-right: 20px;
  padding-left: 10px;
}

.community {
  font: 80% $ember-font;
  color: #111;
  background: #e7e9ec;
}

.input {
  font: 100% $ember-font;
  padding-left: 10px;
}